body{
font-family: Arial;
background:#f4f6f8;
text-align:center;
margin:40px;
}

h1{
color:#2c3e50;
}

h2{
color:#34495e;
}

ul{
list-style:none;
padding:0;
}

li{
margin:10px;
}

a{
text-decoration:none;
font-size:18px;
color:#2980b9;
}

a:hover{
color:#e74c3c;
}

canvas{
margin-top:40px;
}
